name: build
on: push
jobs:
  build:
    name: my job
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [12]
    steps:
      - name: My first step
        env:
          MY_VAR: Hi there! My name is
          FIRST_NAME: Chad
          LAST_NAME: Crowell
        run: echo $MY_VAR $FIRST_NAME $LAST_NAME
        
